# Exploratory Data Analysis

## Reading Files into Python

In [1]:
# importing libraries
import pandas as pd

In [2]:
#importing data
data = pd.read_csv('churn_prediction.csv')

In [3]:
#first 5 instances using "head()" function
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,last_transaction,churn
0,1,2401,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,2019-05-21,0.0
1,2,2648,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,2019-11-01,0.0
2,4,2494,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,NaT,0.0
3,5,2629,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,2019-08-06,1.0
4,6,1879,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,2019-11-03,1.0

In [4]:
#last 5 instances using "tail()" function
data.tail()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,last_transaction,churn
15925,16993,2500,64,Female,0.0,self_employed,409.0,3,934,309.64,...,1738.15,300.91,0.04,46961.44,5148.76,41642.90,2733.69,2340.96,2019-11-28,1.0
15926,16994,2470,44,Male,0.0,salaried,1020.0,2,15,1049.67,...,3622.00,6016.92,0.06,966.96,1428.63,5714.34,2100.30,1846.93,2019-12-01,1.0
15927,16995,2537,34,Female,1.0,self_employed,557.0,2,284,1106.86,...,2729.22,2170.80,8732.47,1714.39,8618.20,1142.96,5726.47,605.49,2019-12-07,0.0
15928,16996,2287,56,Female,0.0,self_employed,1540.0,2,670,2098.29,...,2122.82,2131.59,362.14,0.26,143.11,314.54,2132.49,2083.49,2019-12-07,0.0
15929,16997,2656,70,Male,0.0,self_employed,1096.0,2,134,18530.60,...,18199.41,17473.74,150.27,156.55,0.19,NaN,NaN,NaN,NaN,NaN

In [5]:
#finding out the shape of the data using "shape" variable: Output (rows, columns)
data.shape

(15930, 21)

In [6]:
#Printing all the columns present in data
data.columns

Index(['customer_id', 'vintage', 'age', 'gender', 'dependents', 'occupation',
       'city', 'customer_nw_category', 'branch_code', 'current_balance',
       'previous_month_end_balance', 'average_monthly_balance_prevQ',
       'average_monthly_balance_prevQ2', 'current_month_credit',
       'previous_month_credit', 'current_month_debit', 'previous_month_debit',
       'current_month_balance', 'previous_month_balance', 'last_transaction',
       'churn'],
      dtype='object')

## Variable Identification and Typecasting

In [7]:
# A closer look at the data types present in the data
data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
last_transaction                   object
churn                             float64
dtype: object

There are a lot of variables visible at one, so let's narrow this down by looking **at one datatype at once**. We will start with int

### Integer Data Type

In [8]:
# Identifying variables with integer datatype
data.dtypes[data.dtypes == 'int64']

customer_id             int64
vintage                 int64
age                     int64
customer_nw_category    int64
branch_code             int64
dtype: object

Summary:

*    **Customer id** are a unique number assigned to customers. It is **Okay to consider this as an Integer**. This variable would not considered for our analysis.

*    **branch code** again represents different branches, therefore it should be **convereted to category**.

*    **Age** and **Vintage** are also numbers and hence we are okay with them as integers.

*    **customer_networth_category** is supposed to be an ordinal category, **should be converted to category**.

*    **churn** : 1 represents the churn and 0 represents not churn. However, there is no comparison between these two categories. This **needs to be converted to category datatype**.

In [9]:
data.describe()

,customer_id,vintage,age,dependents,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
count,15930.000000,15930.000000,15930.000000,14582.000000,15470.000000,15930.000000,15930.000000,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.592900e+04,1.592900e+04,1.592900e+04,15929.00000
mean,8498.085625,2392.437728,48.174576,0.356741,795.157207,2.221846,927.797928,7.271421e+03,7.386992e+03,7.433499e+03,7.183789e+03,3.279202e+03,3.419490e+03,3.498199e+03,3.466232e+03,7.362582e+03,7.438765e+03,0.18752
std,4910.076657,272.486481,17.865815,1.086172,430.395665,0.662057,937.402995,5.051191e+04,4.944242e+04,4.893540e+04,5.528574e+04,3.124726e+04,3.541268e+04,2.825728e+04,2.772081e+04,4.933807e+04,4.973615e+04,0.39034
min,1.000000,438.000000,1.000000,0.000000,0.000000,1.000000,1.000000,-5.503960e+03,-2.998640e+03,1.428690e+03,-1.650610e+04,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,-3.374180e+03,-3.060130e+03,0.00000
25%,4245.250000,2260.000000,35.000000,0.000000,409.000000,2.000000,176.000000,1.776387e+03,1.908638e+03,2.168155e+03,1.822055e+03,3.100000e-01,3.300000e-01,4.100000e-01,4.100000e-01,1.988660e+03,2.077040e+03,0.00000
50%,8485.500000,2454.000000,46.000000,0.000000,834.000000,2.000000,578.000000,3.276645e+03,3.381180e+03,3.520035e+03,3.373785e+03,6.100000e-01,6.400000e-01,9.440000e+01,1.124800e+02,3.445410e+03,3.450510e+03,0.00000
75%,12752.750000,2593.000000,60.000000,0.000000,1096.000000,3.000000,1437.000000,6.624458e+03,6.686012e+03,6.676240e+03,6.532695e+03,7.075825e+02,7.718425e+02,1.393230e+03,1.357730e+03,6.658490e+03,6.679810e+03,0.00000
max,16997.000000,2776.000000,90.000000,52.000000,1648.000000,3.000000,4753.000000,5.905904e+06,5.740439e+06,5.700290e+06,5.010170e+06,1.764286e+06,2.361808e+06,1.764286e+06,1.414168e+06,5.778185e+06,5.720144e+06,1.00000

In [10]:
# converting churn to category
data['churn'] = data['churn'].astype('category')
data['branch_code'] = data['branch_code'].astype('category')
data['customer_nw_category'] = data['customer_nw_category'].astype('category')
data.dtypes[data.dtypes == 'int64']

customer_id    int64
vintage        int64
age            int64
dtype: object

In [11]:
data.describe()

,customer_id,vintage,age,dependents,city,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
count,15930.000000,15930.000000,15930.000000,14582.000000,15470.000000,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.593000e+04,1.592900e+04,1.592900e+04,1.592900e+04
mean,8498.085625,2392.437728,48.174576,0.356741,795.157207,7.271421e+03,7.386992e+03,7.433499e+03,7.183789e+03,3.279202e+03,3.419490e+03,3.498199e+03,3.466232e+03,7.362582e+03,7.438765e+03
std,4910.076657,272.486481,17.865815,1.086172,430.395665,5.051191e+04,4.944242e+04,4.893540e+04,5.528574e+04,3.124726e+04,3.541268e+04,2.825728e+04,2.772081e+04,4.933807e+04,4.973615e+04
min,1.000000,438.000000,1.000000,0.000000,0.000000,-5.503960e+03,-2.998640e+03,1.428690e+03,-1.650610e+04,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,-3.374180e+03,-3.060130e+03
25%,4245.250000,2260.000000,35.000000,0.000000,409.000000,1.776387e+03,1.908638e+03,2.168155e+03,1.822055e+03,3.100000e-01,3.300000e-01,4.100000e-01,4.100000e-01,1.988660e+03,2.077040e+03
50%,8485.500000,2454.000000,46.000000,0.000000,834.000000,3.276645e+03,3.381180e+03,3.520035e+03,3.373785e+03,6.100000e-01,6.400000e-01,9.440000e+01,1.124800e+02,3.445410e+03,3.450510e+03
75%,12752.750000,2593.000000,60.000000,0.000000,1096.000000,6.624458e+03,6.686012e+03,6.676240e+03,6.532695e+03,7.075825e+02,7.718425e+02,1.393230e+03,1.357730e+03,6.658490e+03,6.679810e+03
max,16997.000000,2776.000000,90.000000,52.000000,1648.000000,5.905904e+06,5.740439e+06,5.700290e+06,5.010170e+06,1.764286e+06,2.361808e+06,1.764286e+06,1.414168e+06,5.778185e+06,5.720144e+06

### Float Data Type

In [12]:
# Identifying variables with float datatype
data.dtypes[data.dtypes == 'float64']

dependents                        float64
city                              float64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
dtype: object

Summary:

*    **dependents** is expected to be a whole number. **Should be changed to integer type**

*    **city** variable is also a unique code of a city represented by some interger number. **Should be converted to Category type**

*    Rest of the variables like **credit, balance and debit** are best represented by the float variables.

In [13]:
# converting "dependents" and "city" to their respective types
data['dependents'] = data['dependents'].astype('Int64')
data['city'] = data['city'].astype('category')

# checking
data[['dependents','city']].dtypes

dependents       Int64
city          category
dtype: object

### Object Data Type

In [14]:
data.dtypes

customer_id                          int64
vintage                              int64
age                                  int64
gender                              object
dependents                           Int64
occupation                          object
city                              category
customer_nw_category              category
branch_code                       category
current_balance                    float64
previous_month_end_balance         float64
average_monthly_balance_prevQ      float64
average_monthly_balance_prevQ2     float64
current_month_credit               float64
previous_month_credit              float64
current_month_debit                float64
previous_month_debit               float64
current_month_balance              float64
previous_month_balance             float64
last_transaction                    object
churn                             category
dtype: object

*    **variables like 'gender', 'occupation' and 'last_transaction' are of type object**. This means that **Pandas was not able to recognise the datatype** of these three variables.

In [15]:
# Manually checking object types
data[['gender','occupation','last_transaction']].head(7)

   gender     occupation last_transaction
0    Male  self_employed       2019-05-21
1    Male  self_employed       2019-11-01
2    Male       salaried              NaT
3     NaN  self_employed       2019-08-06
4    Male  self_employed       2019-11-03
5  Female  self_employed       2019-11-01
6    Male        retired       2019-09-24

*    **gender** and **occupation** variables **belong to categorical data types**.
*    **last_transaction** should be a  **datetime variable**.

In [16]:
# typecasting "gender" and "occupation" to category type
data['gender'] = data['gender'].astype('category')
data['occupation'] = data['occupation'].astype('category')

# checking
data[['gender','occupation']].dtypes

gender        category
occupation    category
dtype: object

### datetime Data Type

In [17]:
# creating an instance(date) of DatetimeIndex class using "last_transaction"
data['last_transaction'] = pd.to_datetime(data['last_transaction'])

In [18]:
data.dtypes

customer_id                                int64
vintage                                    int64
age                                        int64
gender                                  category
dependents                                 Int64
occupation                              category
city                                    category
customer_nw_category                    category
branch_code                             category
current_balance                          float64
previous_month_end_balance               float64
average_monthly_balance_prevQ            float64
average_monthly_balance_prevQ2           float64
current_month_credit                     float64
previous_month_credit                    float64
current_month_debit                      float64
previous_month_debit                     float64
current_month_balance                    float64
previous_month_balance                   float64
last_transaction                  datetime64[ns]
churn                                   category
dtype: object

In [19]:
# extracting new columns from "last_transaction"

# last day of year when transaction was done
data['doy_ls_tran'] = data.last_transaction.dt.dayofyear

# week of year when last transaction was done
data['woy_ls_tran'] = data.last_transaction.dt.isocalendar().week

# month of year when last transaction was done
data['moy_ls_tran'] = data.last_transaction.dt.month

# day of week when last transaction was done
data['dow_ls_tran'] = data.last_transaction.dt.dayofweek

In [20]:
# checking new extracted columns using datetime
data[['last_transaction','doy_ls_tran','woy_ls_tran','moy_ls_tran','dow_ls_tran']].head()

  last_transaction  doy_ls_tran  woy_ls_tran  moy_ls_tran  dow_ls_tran
0       2019-05-21        141.0           21          5.0          1.0
1       2019-11-01        305.0           44         11.0          4.0
2              NaT          NaN         <NA>          NaN          NaN
3       2019-08-06        218.0           32          8.0          1.0
4       2019-11-03        307.0           44         11.0          6.0

The first column is the complete date of the last transaction which was done by the any given customer.

The next columns represent the day of year, week of year, month of year, day of week when the last transaction was done.

**Breaking down the date variable** into these granular information will **help us in understand when the last transaction was done from different perspectives**. Now that we have extracted the essentials from the last_transaction variables, we will drop it from the dataset.

In [21]:
data = data.drop(columns = ['last_transaction'])
data.dtypes

customer_id                          int64
vintage                              int64
age                                  int64
gender                            category
dependents                           Int64
occupation                        category
city                              category
customer_nw_category              category
branch_code                       category
current_balance                    float64
previous_month_end_balance         float64
average_monthly_balance_prevQ      float64
average_monthly_balance_prevQ2     float64
current_month_credit               float64
previous_month_credit              float64
current_month_debit                float64
previous_month_debit               float64
current_month_balance              float64
previous_month_balance             float64
churn                             category
doy_ls_tran                        float64
woy_ls_tran                         UInt32
moy_ls_tran                        float64
dow_ls_tran                        float64
dtype: object

In [22]:
data.to_csv("customer_churn_v1.csv")
data.to_pickle("customer_churn_v1.pkl")

In [1]:
nn

NameError: name 'nn' is not defined